#sidebar {
  min-height: 100vh;
  margin-left: -15rem;
}

.sidebar-heading {
  padding: 1rem 1rem;
  font-size: 1.2rem;
}

#sidebar .list-group {
  width: 15rem;
}

#wrapper {
  overflow-x: hidden;
}

#wrapper.toggled #sidebar {
  margin-left: 0;
}

.page-contents {
  min-width: 100vw - 15rem;
}

.form-signin {
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 1rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.login {
  background-color: #eee;
}
